*.orig
*.rej
*~
*.swp
*.o
*.d
*.a
*.so
*.bak
*.tmp

with-automake/build-aux
with-automake/Makefile.in
with-automake/Makefile

*/Makefile
*/Config.mk
*/funk_dynamic
*/funk_regular
*/funk_math

*/.deps
*/autom4te.cache
*/configure
*/aclocal.m4
*/config.h
*/config.h.in
*/stamp-h1
*/config.status
*/config.log

units/*.service
units/*.socket
